.container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Full viewport height */
}

.media-column {
    width: 60%;
    background-color: rgba(173, 216, 230, 0.5);
    background-size: cover;
    background-position: center;
}

.content-column {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get-started-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.login-button {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button {
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
